<div class="card">
  <h2 class="card__title">{{ 'profile.uploadPhoto.title' | translate }}</h2>

  <div class="dropzone">
    <div class="dropzone__avatar">
      @if (previewUrl() ?? store.profile().avatarUrl; as url) {
        <img
          [src]="url"
          [alt]="'profile.uploadPhoto.previewAlt' | translate"
          class="dropzone__img"
        />
      } @else {
        <mat-icon class="dropzone__icon" aria-hidden="true">person</mat-icon>
      }
    </div>

    <div class="dropzone__actions">
      <input
        #fileInput
        type="file"
        accept="image/*"
        class="visually-hidden"
        [attr.aria-label]="'profile.uploadPhoto.fileInputLabel' | translate"
        (change)="onFileSelected($event)"
      />
      <button type="button" class="btn-select" (click)="triggerFileInput(fileInput)">
        {{ 'profile.uploadPhoto.selectAction' | translate }}
      </button>
    </div>
  </div>
</div>
