<section class="cash-summary">
  <h2 class="cash-title">{{ 'sales.register.title' | translate }}</h2>
  <p class="cash-subtitle">{{ 'sales.register.subtitle' | translate }}</p>

  <div class="cash-widgets">
    <div class="cash-widget total-day">
      <p class="widget-label">
        <span class="material-icons widget-icon">receipt</span>
        {{ 'sales.register.totalDay' | translate }}
      </p>
      <p class="widget-value">{{ currency.format(store.totalDay()) }}</p>
    </div>
    <div class="cash-widget">
      <p class="widget-label">
        <span class="material-icons widget-icon">payments</span>
        {{ 'sales.register.cash' | translate }}
      </p>
      <p class="widget-value">{{ currency.format(store.totalCash()) }}</p>
    </div>
    <div class="cash-widget">
      <p class="widget-label">
        <span class="material-icons widget-icon">point_of_sale</span>
        {{ 'sales.register.digital' | translate }}
      </p>
      <p class="widget-value">{{ currency.format(store.totalDigital()) }}</p>
    </div>
  </div>
</section>
