<div class="row">

  <div class="col-type">
  @if (product.type === 'unit') {
    <span class="badge badge--unit">
      <svg width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.2"><path d="M21 8l-9-4-9 4v8l9 4 9-4V8z"/><path d="M3 8l9 4 9-4"/><path d="M12 12v8"/></svg>
      {{ 'products.col.byUnit' | translate }}
    </span>
  } @else {
    <span class="badge badge--weight">
      <svg width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.2"><path d="M12 3v18"/><path d="M5 7l7-4 7 4"/><path d="M3 11l2-4 2 4a2 2 0 0 1-4 0z"/><path d="M17 11l2-4 2 4a2 2 0 0 1-4 0z"/><path d="M4 21h16"/></svg>
      {{ 'products.col.byWeight' | translate }}
    </span>
  }
  </div>

  <div class="col-name">
    <span class="name">{{ product.name }}</span>
  </div>

  <div class="col-description">
    <span class="description">{{ product.description }}</span>
  </div>

  <div class="col-qr">
    <div class="qr-box">
      <img [src]="qrImageUrl" [alt]="product.codeQR" [title]="product.codeQR" loading="lazy">
    </div>
  </div>

  <div class="col-stock">
    <span class="stock">{{ product.stock }}</span>
  </div>

  <div class="col-price">
    <span class="price">{{ product.price }}</span>
  </div>

  <div class="col-actions">
    <button class="btn-edit" [title]="'products.col.edit' | translate" (click)="edit.emit(product)">
      <svg width="15" height="15" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
      </svg>
    </button>

    <button class="btn-delete-card" [title]="'products.col.delete' | translate" (click)="remove.emit(product)">
      <span class="material-icons">delete</span>
    </button>

  </div>

</div>
